* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(a) {
    color: #3f3f3f;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(171, 171, 175, 0.13);
}

a {
    text-decoration: none
}

aside#main-logged-menu {
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    position: fixed;
    left: 0;
    top: 0;
}

#main-logged-content {
    margin-left: 250px;
    height: 100%;
}

main#logged-page-body {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}