{% extends '_base.html.twig' %}

{% block title %}AKH - Member{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('react_css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('react_member_app') }}
{% endblock %}

{% block body %}
    <div id="root">

    </div>
{% endblock %}
