.card {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    margin-bottom: 1em;
}

.card-body {
}

.card-body-side-image img {
    object-fit: cover;
    display: inline-block;
}

.card-body-side-image .card-content {
    padding: 16px;
    display: inline-block;
    vertical-align: top;
}

.card-title {
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    color: #666666;
}

.card-body-empty .card-title {
    padding: 0.5em;
}

.card-body-empty .card-content {
    padding-left: 0.5em;
}

.card-description {
    font-size: 0.9rem;
    color: #666;
    margin: 8px 0;
}

.card-footer {
    border-top: 1px solid red;
    padding-top: 5px;
    height: 3em;
    text-align: right;
}
