
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(a) {
    color: #3f3f3f;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(171, 171, 175, 0.13);
}

.margin-bottom-s {
    margin-bottom: 1em;
}

.padding-left-m {
    padding-left: 2em;
}

.text-align-right {
    text-align: right;
}

h1,h2,h3 {
    margin-bottom: 1em;
}