
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(171, 171, 175, 0.13);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.half-width {
    width: 50%;
}

.two-thirds-width {
    width: 66%;
}
.one-thirds-width {
    width: 33%;
}

.margin-bottom-s {
    margin-bottom: 1em;
}

.padding-left-m {
    padding-left: 2em;
}

.text-align-right {
    text-align: right;
}