<header id="main-unlogged-header">
    <div class="menu">
        <ul class="inline">
            {% if app.user %}
            <li>
                <a href="/logout">Logout</a>
            </li>
            {% else %}
                <li>
                    <a href={{ path('website_authentication') }}>Log In</a>
                </li>
                <li>
                    <a href={{ path('website_registration') }}>Sign up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>
